@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.link{
  display: flex;
  width:clamp(8rem, 100vw, 100vw);
  background-color: black;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Press Start 2P", system-ui;
  font-size: min(1rem, 30vw);
  justify-content: center;
  gap: 5vw;
}

.link a{
  text-decoration: none;
  color: #8ab9eb;
  font-size: .6rem;
}

html, body {
  overflow-x: hidden;
  width: 100%;
  background-color: black;
  overflow: auto;
  scrollbar-width: none;
}

.header-description{
  display: flex;
  justify-content: center;
  font-size: .8rem;
  padding: 10px;
}

.App {
  text-align: center;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #8ab9eb;
}

.App-header {
  width: min(60vw, 3rem);
  overflow: hidden;
  font-size: min(.3rem, 3vw);
}

h1{
  padding: 20px;
  font-size: min(2rem, 7vw);
}

h2{
  padding-bottom: 20px;
  font-size: .6rem;
}

p{
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  width:40%;
}

.App-header.logged-in {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header.logged-out {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.table {
  background: black;
  width: 50vw;
  height: 100vh;
  overflow: auto;
}

.App-link {
  color: #61dafb;
}

.spotify-login-button{
  border: solid 4px rgb(177, 177, 177);
  border-radius: 4px;
  background-color: lightskyblue;
  color: black;
  margin-top: 50px;
  padding: 20px 40px;
  font-size: 16px;
  font-family: "Press Start 2P", system-ui;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-shadow: 4px 4px 0 rgb(51, 51, 51);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.spotify-login-button:active {
  box-shadow: 2px 2px 0 rgb(51, 51, 51);
  transform: translate(2px, 2px);
} 

.privacy{
  color: #8ab9eb;
  font-size: 1.2rem;
}

.contact{
  color: #8ab9eb;
  font-size: 1.2rem;
}

.about{
  color: #8ab9eb;
  font-size: 1.2rem;
  
}

.spotify-link{
  text-decoration: none;
  color: black;
}

.logout-button {
  border: solid 4px rgb(175, 175, 175);
  border-radius: 4px;
  background-color: lightskyblue;
  color: black;
  margin-top: 50px;
  padding: min(1em, 3vw);
  font-size: 1rem;
  font-family: "Press Start 2P", system-ui;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-shadow: 4px 4px 0 rgb(51, 51, 51);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.logout-button:active {
  box-shadow: 2px 2px 0 rgb(51, 51, 51);
  transform: translate(2px, 2px);
}



.hero{
  background-color: black;
  background-image: url(/public/pexels-francesco-ungaro-998641.jpg);
}

.highscorify-container {
 
  width: 100%;
  height: 100%;
  font-size: .7rem;
  background-image: url(/public/pexels-francesco-ungaro-998641.jpg);
  
}

th{
  padding-bottom:20px;
  
}

td {
  text-align: left;
  padding-bottom:12px;
  line-height: 1.5;
}

.rank{
  text-align:left;
  width: 1rem;
}

.rank-header{
  text-align:left;
}

.name{
  min-width: min(30vw, 40vw);
  width: min(50vw, 12rem);
}

.score{
  text-align:left;
  width: 1rem;
}

table {
  margin: auto;
  border-spacing: 1.5rem .1rem;
  font-size: clamp(.5rem, 1vw, 1.5rem);
  margin-bottom: 8vh;
  width: clamp(20rem, 45vw, 90vw);
}


.options{
  font-size:12px;
}

.leaderboard-settings{
  margin-bottom:50px;
  font-size:1rem;
  margin-top:10px;
}

.leaderboard-head{
  font-size: .6rem;
}

thead{
  text-align:left;
  
}

footer{
  padding-top: 30px;
  padding-bottom:30px;
  font-size: .5rem;
}

.icon {
  margin-right: 8px;
  color: #1DB954; /* Spotify Green */
}

button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
}

.leaderboard-options:hover {
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;

}

button span.icon {
  margin-left: -20px;
}

button:hover .icon {
  color: #1ED760; /* Slightly lighter green for hover effect */
}
